---
interface Props {
  class?: string;
  as?: string;
}

const { class: className = "", as: Element = "div" } = Astro.props;
---

<Element class:list={["inline-flex flex-col leading-none select-none w-fit", className]}>
  <span class="font-century font-bold text-[1em] tracking-[0.01em] [-webkit-text-stroke:0.015em_currentColor] whitespace-nowrap">
    M. Schiketanz
  </span>
  <span class="font-century text-[0.36em] tracking-[0.14em] text-right -mt-[0.05em] mr-[0.02em] opacity-90">
    real estate inc.
  </span>
</Element>